<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File CSV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .table-responsive {
            max-height: 400px; /* Adjust as needed */
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Preview 10 Data</h1>
        {{ show_data | safe }}
    </div>
    <div class="container">
        <form action="{% url 'predict:save_model' dataset_id=dataset_id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="label">Pilih Kelas Label</label>
                <select name="label" id="label">
                    <option value="">__Silahkan PILIH__</option>
                    {% for label in columns %}
                        <option value="{{ label }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>  
</body>
</html>
